@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


body {
    /* background-color: white; */
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}

p, ul, ol {
    font-size: 20px;
    line-height: 24px;
}

ul, ol {
    padding: 0;
    list-style-position: inside;
}
p.caption {
    font-size: 15px;
    font-style: oblique;
    color: gray;
    margin-top: 0;
}

a, a:visited {
    color: rgb(255, 54, 60);
    /* text-decoration: none; */
}

a:hover{
    color: rgb(113, 12, 15);
    border: 2px solid;
}

a:active{
    color: rgb(255, 104, 109);
}

header {
    text-align: center;
    background-color: rgb(217, 217, 218);
    padding: 20px;
}

header .pfp{
    width: 250px;
    height: 250px;
    border-radius: 5%;
    background-image: url('./../img/pentagram-pfp.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
}

header img{
    width: 150px;
    height: 150px;
    /* border: 2px solid black; */
    border-radius: 50%;
}

h1{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 50px;
    font-optical-sizing: auto;   
    font-weight: 400;
    font-style: normal;
    margin-top: 5px;
}

h2{
    font-family: "Plus Jakarta Sans", sans-serif; 
    font-weight: 600;
    font-style: normal;
    margin: 20px 0 20px 0;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

main img{
    max-width: 100%;
}

/* footer */
footer{
    background-color: rgb(243	35	52);
    padding: 40px;
    text-align: center;
    margin-top: 60px;
}

footer .content {
    max-width: 800%;
    margin: 0 auto;
    /* padding: 0 20px; */
}

@media (max-width: 600px) {
    footer p{
        font-size: 16px;
    }

   header .pfp{
        width: 220px;
        height: 220px;
    }
}